= simple_form_for [:product, @meal] do |f|
  = f.input  :product_id, as: :hidden, :input_html => { value: params[:product_id] }
  = f.input  :weight
  = f.input  :ingestion, as: :select, collection: %w(Breakfast Lunch Dinner)
  = f.button :submit
