.row
  .col-md-6
    = "name: #{@account.name}"
    = "age: #{@account.age}"
    = "sex: #{@account.sex}"
    = "weight: #{@account.weight}"
    = "growth: #{@account.growth}"
    = "hips: #{@account.hips}"
    = "waist: #{@account.waist}"
